[submodule "operator-sdk"]
	path = operator-sdk
	url = https://github.com/operator-framework/operator-sdk.git
	branch = master
[submodule "kustomize"]
	path = kustomize
	url = https://github.com/kubernetes-sigs/kustomize.git
	branch = master
[submodule "operator-registry"]
	path = operator-registry
	url = https://github.com/operator-framework/operator-registry
	branch = master
